active_run.sh
cumgtau_results.dat
log
m_results.dat
m_tot_n_results.dat
m_tot_results.dat
rho0_results.dat
spectrum__001_it_014.png
spectrum.png
s_results.dat
tau_50_results.dat
tau_mean_results.dat
debyedecomp.log
